/*Body Css*/
body{
    background-image: url(assets/marble.jpg);
    min-height: 100vh;
    background-color: #050801;
    color:#03e9f4;
    font-family:cursive, sans-serif;
    
}

.container{
    min-height: 100vh;
    display:grid;
    grid-gap: 4rem;
    grid-template-rows:auto 3fr;
    
}

.innergrid{
    min-height: 100vh;
    display:grid;
    grid-gap: 3rem;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

/*Header Css*/
.header{
    border-radius: .75em;
    opacity: 80%;
    display:grid;
    grid-area: auto;
    text-align: center;
    background-color: #050801;
    font-family: cursive, sans-serif;
    color: #03e9f4;
}

.header:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.item-1 {
    border-radius: .75em;
    opacity:75%;
    text-align: center;
    background-color: black;
    max-height: 100vh;
    min-height: 100vh;
}

.item-1:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.item-2 {
    border-radius: .75em;
    opacity: 85%;
    max-height: 25vh;
    min-height: 25vh;
    display:grid;
    grid-area: auto;
    font-family: cursive, sans-serif;
    justify-content: center;
    border: transparent;
    background-image: url(assets/marble.jpg);
    text-align: center;
    color:#03e9f4;
    font-weight: bold;
}

.item-3 {
    border-radius: .75em;
    opacity:75%;
    text-align: center;
    background-color: black;
    max-height: 100vh;
    min-height: 100vh;
}

.item-3:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.item-4{
    border-radius: .75em;
    opacity:75%;
    text-align: center;
    background-color: black;
    max-height: 100vh;
    min-height: 100vh;
}

.item-4:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.player2div{
    display:hide;
}


/*Modal Css*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: .75em;  
  background-color: #050801;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Buttons Css*/
.choosebtns{

  padding: 25px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.choosebtns:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

